
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

html, body{
  font-family: 'Rajdhani', sans-serif;
  min-height: 100%;
}
body {
  background-color: #ddd;
	font-size: 15px;
  color: #ddd;
  }

.bg {
  background: none;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.container{
  position: relative;
	max-width: 850px;
	margin-top:10%;
	margin-left:auto;
  margin-right:auto;
	background-color: none;
	overflow: hidden;
	padding: 10px;	
}

/* --- Main --- */
.left{
  width: 250px;
  height: 300px;
  background-color: #000035;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgb(0, 0, 0);
  border-radius:10px;
  padding: 10px;
  margin: 10px 5px;
  float: left;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.middle{
  width: 250px;
  height: 300px;
  background-color: #ddd;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:10px;
  padding: 10px;
  margin: 10px 5px;
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right{
  width: 250px;
  height: 300px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:10px;
  padding: 10px;
  margin: 10px 5px;
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttona {
  background-color: #000035;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius:15px;
  color: #ddd;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  margin: 10px 1px;
  height: 35px;
  cursor: pointer;
}
.buttona:hover{
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonb {
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius:15px;
  color: #000035;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  margin: 10px 1px;
  height: 35px;
  cursor: pointer;
}
.buttonb:hover{
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* --- Main --- */

.round {
	margin-top:30px;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
	border: 2px solid #ddd;
}
.round img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

#social-pack {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  .social {
    display: block;
    padding-right: 50px;
  }
  li {
    color: rgb(221, 221, 221, .2);
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 15px;
    line-height: 50px;
    padding-top: 15px;
    border: 1px solid rgba(221, 221, 221, 0.4);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: ease .3s;
    &:hover {
      color: rgba(221, 221, 221, 1);
      border: 1px solid rgba(221, 221, 221, 1);
    }
  }
  .fa{
    width: 30px;
    height: 30px;
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

/* --- footer --- */
.footer{
	clear: both;
	padding: 10px;
	margin: 5px;
	text-align: center;
  color: #000035;
}

.footer a {
  color:#000035;
  text-decoration: none;
}
/* --- footer --- */


input {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, .2);
  border-radius:15px;
  margin: 1px;
  font-family: 'Rajdhani', sans-serif;
  text-align:center;
  font-size: 16px;
  color: #ddd;
  outline: none;
  width: 90%;
  height: 30px;
  
}



/* layar 850px kebawah */
@media screen and (max-width: 850px) {
	
.container {
  width: 90%;
	}
.left {
  width: 43%;
	}
.middle {
  width: 43%;
  float: right;
	}
	
.right {
  clear: both;
  padding: 1% 4%;
  height: auto;
  width: auto;
  float: none;
	}
.status {
  width: 90%;
  float: none;
	}
}


/*  layar 600px kebawah */
@media screen and (max-width: 600px) {
	
.container {
  width: 90%;
	}
.footer{
  text-align: center;
	}
.left {
  height: auto;
  width: auto;
  float: none;
	}
	
.middle {
  height: auto;
  width: auto;
  float: none;
	}
	
.right {
  height: auto;
  width: auto;
  float: none;
	}
	
.status {
  width: 90%;
  float: none;
	}

}



